<STYLE TYPE="text/css">
 .loca { 
color: #000000;
margin-left: 30px ;
border: 1px solid black;
margin-right:30px;
font-size:100%;
margin-bottom: 20px;
background-color: #ffffaa;
border-radius: 10px;
}
.a{
 background-color: #ffffaa;


}

</STYLE> 


<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="">Perfil</a></li>
          <li><%= link_to 'Editar Perfil', edit_usuario_path(@usuario) %></li>
          <li><%= link_to 'Logout', '/logout' %></li>
         </ul>
      </div>

<div id="site_content">

<p id="notice"><%= notice %></p>
<table>
<td>
<h1>

  <b>Nombre:</b>
  <%= @usuario.nombre %><br>



  <b>Nickname:</b>
  <%= @usuario.nickname %><br>



  <b>Peso:</b>
  <%= @usuario.peso %><br>



  <b>Edad:</b>
  <%= @usuario.edad %><br>



  <b>Altura:</b>
  <%= @usuario.altura %><br>

</h1>
</td>
<td>
<%= image_tag "header-img.jpg", :alt => 'limon' %>
</td>
</table>
<table border = 0>
<tr >
<th width = "400">
<h2> Posts</h2>
</th>
<th width = "400">
<h2> Dietas</h2>
</th>
</tr>
<tr>
<td>

<!----------------------------------------posts ------------------------------------------------------------------------------> 
<% @usuario.posts.each do |post| %>
	<div class= "loca">
	<table border = 0>
		<tr>
		<td class = "a" ><h3><%=link_to post.title, post %></h3></td>
		<td class = "a" ><h4><%= time_ago_in_words post.created_at%> ago</h4> </td> 
		</tr>
	</table>	
		<p><%= post.body %></p>
		
		<p align = "right"><%= link_to 'Destroy' , @post, :method => :delete, :confirm => "esta seguro?" %> </p>
	</div>
	<% end %>

</td>
<td>
<!---------------------------------------- dietas ------------------------------------------------------------------------------> 
<% @usuario.dietas.each do |dieta| %>
	<div class= "loca">
	<table border = 0>
		<tr>
		<td class = "a" ><h3><%=dieta.nombre %></h3></td>
		<td class = "a" ><h4><%= dieta.dia %></h4> </td> 
		</tr>
	</table>	
		<p><%= dieta.descripcion %></p>
		
		<p align = "right"><%= link_to 'Destroy' , @dieta, :method => :delete, :confirm => "esta seguro?" %> </p>
	</div>
	<% end %>

</tr>
<tr>
<td>
		<!---------------------------------------- posts form ------------------------------------------------------------------------------> 
<% form_for [@usuario, @usuario.posts.build] do |f| %>

<p><h5>

	<%= f.label :titulo, "Titulo Del post" %><br />
	<%= f.text_field :title %><br />
	<%= f.label :body, "Nuevo Post" %><br />
	<%= f.text_area :body %>
</h5></p>
<p>
	<%= f.submit "Agregar" %>
</p>
<% end %>


<!---------------------------------------- fin ------------------------------------------------------------------------------> 
</td>
<td>
	<!---------------------------------------- dietas form ------------------------------------------------------------------------------> 
<% form_for [@usuario, @usuario.dietas.build] do |f| %>
<h5>
<div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  
  <div class="field">
	 <%= f.label :dia %><br />
	<select id ="dieta_dia" name="dieta[dia]">
		<OPTION VALUE="lunes">lunes</OPTION>
		<OPTION VALUE="martes">martes</OPTION>
		<OPTION VALUE="miercoles">miercoles</OPTION>
		<OPTION VALUE="jueves">jueves</OPTION>
		<OPTION VALUE="viernes">viernes</OPTION>
		<OPTION VALUE="sabado">sabado</OPTION>
		<OPTION VALUE="domingo">domingo</OPTION>
			
		
	</select>
	</div>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  </h5>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
	<!---------------------------------------- fin ------------------------------------------------------------------------------> 
	</td>
	</tr>
	<tr>
	<td>
	
	<table>
	<hr>
	<th width = "400">
	<h2> Rutinas</h2>
	</th>
	</table>
<!---------------------------------------- rutinas ------------------------------------------------------------------------------>	
	<% @usuario.rutinas.each do |rutina| %>
	
	<div class= "loca">
	<table border = 0>
		<tr>
		<td><h5><%=rutina.nombre %></h5></td>
		<td><h4><%= rutina.dia %>
			<%= rutina.musculo%></h4> </td> 
		</tr>
	</table>	
		<p><%= rutina.descripcion %></p>
		
		<p align = "right"><%= link_to 'Destroy' , @rutina, :method => :delete, :confirm => "esta seguro?" %> </p>
	</div>
	<% end %>
	<!---------------------------------------- rutinas form ------------------------------------------------------------------------------> 
<% form_for [@usuario, @usuario.rutinas.build] do |f| %>
<h5>
<div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :musculo %><br />
    <%= f.text_field :musculo %>
  </div>
  <div class="field">
	 <%= f.label :dia %><br />
	<select id ="rutina_dia" name="rutina[dia]">
		<OPTION VALUE="lunes">lunes</OPTION>
		<OPTION VALUE="martes">martes</OPTION>
		<OPTION VALUE="miercoles">miercoles</OPTION>
		<OPTION VALUE="jueves">jueves</OPTION>
		<OPTION VALUE="viernes">viernes</OPTION>
		<OPTION VALUE="sabado">sabado</OPTION>
		<OPTION VALUE="domingo">domingo</OPTION>
			
		
	</select>
	</div>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  </h5>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</td>
</tr>
</table>
	<!---------------------------------------- fin ------------------------------------------------------------------------------> 
	
	
</div>	


